/* General Styling */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #4FC3F7, #E3F2FD);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

header h1 {
    font-size: 40px;
    color: #1565C0;
    margin: 0;
}

header p {
    color: #555;
    font-size: 15px;
    text-align: center;
}

/* Login Container */
.container {
    background:white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 400px;
}

.login-form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.login-form label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

.login-form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background: #1565C0;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;  
}

button:hover {
    background: #0D47A1;
}

.forgot-password {
    display: block;
    margin-top: 10px;
    color: #1565C0;
    text-decoration: none;
    font-size: 14px;
}

/* Create Account Button */

.create-account {

    font-size:14px;
    background-color:#1565C0;
    color:white;
    padding:10px 10px;
    border:none;
    border-radius:5px;
    cursor:pointer;
    max-width: 80%;
    min-width: none; 
    margin-top: 20px;
    
    /* transform: translateX(-50%); */

}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
}

.alert {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}